# Sports Betting Revenue By State

In [1]:
# Dependencies and Setup
import pandas as pd
from functools import reduce

In [2]:
delaware_df = pd.read_csv("Raw Data/Delaware Sports Betting.csv")
indiana_df = pd.read_csv("Raw Data/Indiana Sports Betting.csv")
iowa_df = pd.read_csv("Raw Data/Iowa Sports Betting.csv")
mississippi_df = pd.read_csv("Raw Data/Mississippi Sports Betting.csv")
nevada_df = pd.read_csv("Raw Data/Nevada Sports Betting.csv")
new_jersey_df = pd.read_csv("Raw Data/NJ Sports Betting.csv")
new_york_df = pd.read_csv("Raw Data/NY Sports Betting.csv")
oregon_df = pd.read_csv("Raw Data/Oregon Sports Betting.csv")
pennsylvania_df = pd.read_csv("Raw Data/Penn Sports Betting.csv")
rhode_island_df = pd.read_csv("Raw Data/RI Sports Betting.csv")
west_virginia_df = pd.read_csv("Raw Data/West Virginia Sports Betting.csv")

In [3]:
new_jersey_df.head()

  State    Date         Handle       Revenue    Hold        Taxes
0    NJ  18-Jun   $16,409,619    $3,458,668   21.10%    $337,077
1    NJ  18-Jul   $40,682,237    $3,845,880    9.50%    $377,015
2    NJ  18-Aug   $95,634,048    $9,198,272    9.60%  $1,038,073
3    NJ  18-Sep  $183,948,404   $23,775,366   12.90%  $2,883,517
4    NJ  18-Oct  $260,711,301   $11,686,119    4.50%  $1,536,282

In [4]:
state_dfs = [delaware_df, indiana_df, iowa_df, mississippi_df, nevada_df, new_jersey_df, new_york_df, oregon_df, pennsylvania_df, rhode_island_df, west_virginia_df]

In [8]:
# considered a merge on the date column, but it would create a really ugly dataframe
# there might be another way to organize the date using the dates as columns, but rearranging things that way would be somewhat difficult and convoluted
state_revenue_df = pd.concat(state_dfs, axis=0)

In [9]:
state_revenue_df

   State    Date        Handle      Revenue    Hold        Taxes
0     DE  18-Jun   $8,411,970   $1,090,610   13.00%    $477,142
1     DE  18-Jul   $7,358,080     $494,449    6.70%    $216,321
2     DE  18-Aug   $9,574,577   $1,264,914   13.20%    $553,400
3     DE  18-Sep  $14,425,723   $3,089,171   21.40%  $1,351,512
4     DE  18-Oct  $16,494,601     $650,413    3.90%    $284,556
..   ...     ...           ...          ...     ...          ...
12    WV  19-Aug  $11,563,468   $1,536,864   13.30%    $153,686
13    WV  19-Sep  $27,508,921   $4,119,457   15.00%    $411,946
14    WV  19-Oct  $32,833,393   $3,197,892    9.70%    $319,789
15    WV  19-Nov  $35,268,743   $1,884,396    5.30%    $188,440
16    WV  19-Dec  $34,159,637   $2,709,585    7.90%    $270,959

[134 rows x 6 columns]